.states {
  fill: #ccc;
  stroke: #fff;
}

.symbol {
  fill: steelblue;
  fill-opacity: .5;
  stroke: #fff;
}
.symbol2 {
  fill: red;
  fill-opacity: .5;
  stroke: #fff;
}
.symbol3 {
  fill: green;
  fill-opacity: .5;
  stroke: #fff;
}
#empleo {
background-color:  red; 
fill-opacity: .5;
}
#desocupacion {
background-color: steelblue;
fill-opacity: .5;
}
#subocupacion_demandante {
background-color: green;
fill-opacity: .5;
}

path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 11px;
}

/*div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 60px;                  
  height: 28px;                 
  padding: 2px;             
  font: 12px sans-serif;        
  background: lightsteelblue;   
  border: 0px;      
  border-radius: 8px;           
  pointer-events: none;         
} */
.hidden { 
  display: none; 
}
div.tooltip {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

